---
import Navbar from '../components/Navbar.astro';
import Head from '../components/Head.astro';
---

<html lang="en">
	<Head title="About"/>
	<body class="bg-gray-200">	
		<Navbar/>
	</body>
</html>
