---
import Navbar from '../components/Navbar.astro';
import Head from '../components/Head.astro';
import BannerWithSearch from '../components/BannerWithSearch.astro';
---

<html lang="en">
	<Head title="Home"/>
	<body>
		<div class="h-dvh flex flex-col">
			<Navbar/>
			<BannerWithSearch/>
		</div>
		<div class="h-40"></div>
	</body>
</html>
