---
import Navbar from '../components/Navbar.astro';
import Head from '../components/Head.astro';
import ListingItem from '../components/ListingItem.astro';
import listings from '../data/db.json';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<Head title="Home"/>
	<body class="bg-gray-200">
		<Navbar/>
		
		
        
		<div class="h-40"></div>
		<Footer/>
	</body>
</html>